.header {
  display: flex;
  height: 50px;
  padding: 0 10px;
  background-color: black;
}
.header__logo,
.header__menu {
  display: flex;
}

.header__menu {
  margin-left: 30px;
}

.header__image {
  width: auto;
  height: 35px;
  align-self: center;
}

.header__title {
  margin: 0;
  margin-left: 8px;
  font-size: 25px;
}

.header__title,
.header__item-menu,
.header__menu-divisor {
  align-self: center;
  color: #fb683a;
}

.header__item-menu,
.header__menu-divisor {
  font-size: 22px
}

.header__item-menu {
  text-decoration: none;
}

.header__menu-divisor {
  width: 5px;
  height: 5px;
  background: #fb683a;
  transform: rotate(45deg);
  margin: 0 6px;
}
